[submodule "datasets/PH-roadmap"]
	path = datasets/PH-roadmap
	url = https://github.com/n-otter/PH-roadmap.git
[submodule "datasets/CCMathTopologyScavengerHunt"]
	path = datasets/CCMathTopologyScavengerHunt
	url = https://github.com/lziegelmeier/CCMathTopologyScavengerHunt.git
